:root {
  --feature: #194d70;
  --feature-light: #3f92cc;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #000;
}

h1 {
	font-family: 'Ubuntu', sans-serif;
}

h3 {
	color: var(--feature);
	margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid var(--feature);
  margin: 0 0 10px 0;
  padding: 0;
}

a {
  color: var(--feature-light);
  text-decoration: none;
}

.container {
	max-width: 600px;
	margin: auto;
}

#header {
	margin-top: 50px;
	text-align: center;
}

.email {
	font-style: italic;
	margin-bottom: 0;
}

.download-link {
	margin-top: 5px;
}

.icon {
	height: 40px;
	margin: 0 5px;
}

.section {
	margin: 50px 0;
}

/* ---- Section Fades ----- */
@keyframes fade1 {
	0% { opacity: 0 }
	50% { opacity: 1 }
}

@keyframes fade2 {
	0%,10% { opacity: 0 }
	60% { opacity: 1 }
}

@keyframes fade3 {
	0%,20% { opacity: 0 }
	70% { opacity: 1 }
}

@keyframes fade4 {
	0%,30% { opacity: 0 }
	80% { opacity: 1 }
}

@keyframes fade5 {
	0%,40% { opacity: 0 }
	90% { opacity: 1 }
}

#header {
	opacity: 1;
	animation: fade1 3s ease-in-out;
}

#section1 {
	opacity: 1;
	animation: fade2 3s ease-in-out;
}

#section2 {
	opacity: 1;
	animation: fade3 3s ease-in-out;
}

#section3 {
	opacity: 1;
	animation: fade4 3s ease-in-out;
}

#section4 {
	opacity: 1;
	animation: fade5 3s ease-in-out;
}
/* ---- End Section Fades ----- */


.dates {
	float: right;
	font-style: italic;
	font-weight: 100;
	font-size: 14px;
}

@media screen and (max-width: 550px) {
	.dates {
		float: none;
		display: block;
	}
}

.item-title {
	font-weight: 900;
	margin-bottom: 6px;
}

.item-details {
	color: #444;
	margin-top: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  margin: 0 auto;
  flex: 1;
}

.rocket {
	height: 12px;
}
